<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Gwamog">
    <insert id="insertGwamog">
        insert into GWAMOG ( subject,subject_code, sesssion, grade, isE, comment)
        values(#{subject},#{subject_code},#{sesssion},#{grade},#{isE},#{comment})
    </insert>
    <update id="updateGwamog">
        update GWAMOG
        set subject=#{subject},subject_code=#{subject_code}, sesssion= #{sesssion}, grade=#{grade}, isE=#{isE}, comment=#{comment}
        where seq=#{seq}
    </update>
    <delete id="deleteGwamog">
        delete from GWAMOG where seq=#{seq}
    </delete>
    <select id="getGwamog" resultType="Gwamog">
        select * from GWAMOG where seq=#{seq}
    </select>
    <select id="getGwamogList" resultType="Gwamog">
        select * from GWAMOG order by seq desc
    </select>
</mapper>
